<VirtualHost "*:80"> # these might need server ip
    ServerName "{{ apache_server_name }}"
    DocumentRoot "{{ apache_document_root }}"

    # Reverse Proxy
    ProxyRequests Off
    ProxyPreserveHost On
    ProxyPass / "{{ reverse_proxy_path }}"
    ProxyPassReverse / "{{ reverse_proxy_path }}"

    ErrorLog ${APACHE_LOG_DIR}/{{ apache_server_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache_server_name }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName "{{ apache_server_name }}"
    DocumentRoot "{{ apache_document_root }}"

    # Reverse Proxy
    ProxyRequests Off
    ProxyPreserveHost On
    ProxyPass / "{{ reverse_proxy_path }}"
    ProxyPassReverse / "{{ reverse_proxy_path }}"

    ErrorLog ${APACHE_LOG_DIR}/{{ apache_server_name }}_ssl_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache_server_name }}_ssl_access.log combined

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem

</VirtualHost> 