[Unit]
Description=Prometheus Server
After=network.target
After=grafana-server.service

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart={{ prometheus_dir.files[0].path }}/prometheus --config.file={{ prometheus_dir.files[0].path }}/prometheus.yml
WorkingDirectory={{ prometheus_dir.files[0].path }}
Restart=on-failure

[Install]
WantedBy=multi-user.target


# " ./prometheus --config.file=./prometheus.yml"